/***  Overall styling ***/

*{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 1059px;
    margin: auto;
    }

a {
    text-decoration: none;
}
    
a:hover{
    color: #87A8AB;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: underline;        
}    
  
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    padding-top: 10px;
}
  
/*** Navigation Bar ***/
  
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  

.nav_links{
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    text-transform: uppercase;
}
  
.nav_links a {
    font-family: "Open Sans", sans-serif; 
    font-size: 1.5vw;
    font-weight: bold;
    color: #3F575A;
    letter-spacing: 2px;
}
@media screen and (min-width: 1200px) {
    .nav_links a {
       font-size: 18px;
    }
}

.nav_links a:hover{
    color: #87A8AB;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: underline; 
}

  
.nav_links li{
    list-style: none;
    display: inline-block;
}
  
/*** Main ***/

.main{
    background-image: url('../images/main_large.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    margin-top: 20px;
    align-items: center;
    padding-top: 30px;
    color: #3F575A;
    display: flex;
    text-align: center;
    

}



.mainContent{
    background-color:white ;
    
    width: 80%;
    
    font-weight: bold;
    font-size: 1.5vw;
}
@media screen and (min-width: 1200px) {
    .mainContent {
       font-size: 18px;
    }
}

.mainContent p{
    color: #3F575A;
    font-weight: bold;
}

.mainContentCol1{
    float: left;
    width: 50%;
    padding: 10px;
    display: flex;
}
.mainContentCol2{
    padding: 10px;
    float: left;
    width: 50%;
    display:flex;
}


h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vw;
    
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 1.5vw;
}

p{
    padding:10px;
}

.meal{
    max-width: 80%;
    padding-bottom: 10px;
}
.photo{
    max-width: 80%;
    padding-bottom: 10px;
}

/*** Footer ***/
.footer{
    max-height: 100px;
    min-height: fit-content;
    font-size: 1.5vw;
    color: #3F575A;
    padding: 10px;
}
@media screen and (min-width: 1200px) {
    .footer {
       font-size: 18px;
    }
}


